*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background: orange;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
    align-items: center;
    
}
@media (max-width:1000px)
{
    .enq
    {
        display: none;
    }
    nav
    {
        background: lightsalmon;
    }
}