p::first-letter{
    font-size: 50px;
}
p::first-line
{
    background:violet;
}
p::selection
{
    background:yellow;
    color:red;
}
p::before{
    content: "Some Text";
    color:red;
}
p::after{
    content: "Some Text";
    color: red;
}