a
{
    color: red;
}
a:active
{
    color: yellow;
}
a:visited
{
    color:black;
}

input:focus
{
    background: orange;
    border: none;
    outline: none;
    color: white;

}
button:hover
{
    background: red;
}

p{
    width: 100px;
    background: gainsboro;
    color: grey;
    padding: 10px;
    font-size: 10px;
    display: none;
}
button:hover~p{
    display: block;
}
div{
    background: palegoldenrod;
}
div:hover>p{
    display: block;
}
input:required
{
    background: grey;
}


