*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div
{
    height: 300px;
    width: 300px;
    background: lightcoral;
    
    animation-name: abc;
    animation-duration: 1s;

    @keyframes abc {

        div::hover
        {
            transform: rotate(180deg);

        }
        
    }

}