*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
div
{
    background: red;
    width: 50vw;
    height: 20%;
    background: lightseagreen;
    font-size: 0.5em;
}
p{
    background: green;
}
body 
{
    height: 100vh;
}
ul
{
    margin-left: 20px;
}
main
{
    width: 500px;
    height: 500px;
    font-size: 32px;
    background: red;
}