*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid  gainsboro;
    box-shadow: 0px 3px 2px whitesmoke;
    /* background: whitesmoke; */
    
}
nav .logo
{
    width: 10%;

   
}
.logosymbol
{
    margin-left: 15vh;

    width: 60px;
    height: 50px;
}
nav main{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .category{
    width: 70%;
    display: flex;
    color: rgba(0, 0, 0, 0.759);
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    
}

.category sup{
    color: red  
}
.mainBody
{
    display: flex;
    height: 350px;
    min-width: 70%;
   margin-top: 45px;
    overflow: auto;
    
}
img{
    height:50vh;
    width: 220vh;
}
.mainBody section>img
{
    min-width:30%;
   
}
nav .cart{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
 
}
.input
{
    width: 10px;
    height: 20px;
    color: gray;
    
}
.risingstar
{
   font-size: 28px;
   padding-left: 40px;
   padding-top: 80px;
   color: rgba(0, 0, 0, 0.759);
   font-weight: 600;
}
.brands
{
    display: flex;
    height: 350px;
    min-width: 100%;
    /* border: 1px solid; */
    margin-top: 7%;
    overflow: auto;
}
.brands section
{
    min-width: 20%;
    /* border: 1px solid ; */
}
.brands img{
    width: 270px;
    height: 331px;

}
.luxe
{
    font-size: 28px;
    padding-left: 40px;
    padding-top: 80px;
    color: rgba(0, 0, 0, 0.759);
    font-weight: 600;
}
.luxe1 section>img{
    
    margin-top: 7%;
    width: 100%;
    height: 10%;
}