*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    /* border-bottom: 1px solid ; */
    box-shadow: 0px 3px 2px gray;
    background: whitesmoke;
    
}
nav .logo
{
    width: 20%;
}
.logosymbol
{
    margin-left: 20vh;

    width: 60px;
    height: 50px;
}
nav main{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .category{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    
}
.mainbody
{
    width: 70%;
    border: 5px solid;
}
nav .cart{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}