nav{
    height: 7vh;
    background: orange;
    display: flex;
    align-items: center;
}
.logo
{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
div:not(.logo)
{
    color: white;
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-evenly;
}
main
{
    width: 1000px;
    height: 500px;
    background: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* flex-direction: row; */
    flex-wrap: wrap;

}
main>div
{
    background: lightcyan;
    width: 80%;
    height: 20px;
    border: 5px solid black;
}