nav{
    height: 7vh;
    background: orange;
    display: flex;
    align-items: center;
}
.logo
{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
div:not(.logo)
{
    color: white;
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-evenly;
}
main
{
    width: 1000px;
    min-height: 100%;
    background: lightcoral;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */

}
main>div
{

    
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid white;
    background: lightcyan;
    min-width: 100%;
    min-height: 80%;
    border: 5px solid black;
}