*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: yellow ;

}
div
{
    background: red!important;

}
#a
{
    background: blue;
}
.b
{
    background: green;
}
#p1,
section,
div{
    background: purple;
}
    
.fs
{
    padding: 20px;
    /* background: lavender ; */
    
}
