*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

div
{
    width: 20px;
    height: 120px;
    background: lightsalmon;
    position: fixed;
    top: 20%;
    border-radius: 10%;
    

}
p
{
    font-size: 25px;
}
.mouse
{
    font-size: 100px;
    top: 0px;
    position: sticky;
}
nav{
    height: 10vh;
    width: 100vw;
    background: orange;
    position: sticky;
    top: 0px;
}