body
{
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
section>h1
{
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-shadow: -3px -3px 3px grey;
    text-decoration: underline double 5px grey ;
    text-decoration-style: wavy;

}
section > p 
{
    text-indent: 60px;
    text-wrap:nowarp;
}
section > a{
    text-decoration-line:none ;
}